:root {
    --primary-color: #333;
    --secondary-color: #555;
    --accent-color: #007BFF;
    --background-color: #f4f4f4;
    --font-family-primary: 'Merriweather', serif;
    --font-family-secondary: 'Roboto', sans-serif;
}

body {
    font-family: var(--font-family-secondary);
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--primary-color);
}

header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: var(--primary-color);
    color: white;
    position: relative;
    height: 100px;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container img {
    height: 70px; 
}

nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

nav a {
    color: #f4f4f4;
    text-decoration: none;
    text-align: center;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 2rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

header a {
    text-align: center;
}

header img {
    height: 80px;
}

header h1 {
    margin: 0;
    text-align: center;
    font-family: var(--font-family-primary);
    font-size: 2.5rem;
    color: white;
}

.company-info {
    text-align: center;
}

.company-info iframe {
    display: block;
    margin: 0 auto;
}

.map {
    text-align: center;
}

.empreg {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Cria colunas responsivas */
    gap: 1rem; /* Espaço entre os itens */
}

.empreg figure {
    text-align: center;
}

.empreg img {
    width: 100%;
    height: auto;
    border-radius: 10px; /* Adiciona bordas arredondadas */
}



.form-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    align-items: center;
    padding: 20px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, textarea, button {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.radio-group {
    display: flex;
    gap: 10px;
    justify-content: center;
}

button {
    background-color: #007BFF;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #0056b3;
}

.hero {
    position: relative;
    text-align: center;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
}

.hero article {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1rem;
    color: white;
}

.hero article img {
    float: right;
    margin-left: 1rem;
    width: 100px;
    height: auto;
}



.hist{
    text-align: center;
}



.adventure-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Cria colunas responsivas */
    gap: 1rem; /* Espaço entre os itens */
}


.adventure-images figure {
    flex: 1;
    text-align: center;
    width: 100%;
}

.adventure-images img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.adventure-images figcaption {
    margin-top: 0.5rem;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--primary-color);
    color: white;
}

.sociallinks a {
    text-decoration: none;
}

.sociallinks img {
    height: 24px;
}

.trip {
    text-align: center;
}


.diftrips {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Cria colunas responsivas */
    gap: 1rem; /* Espaço entre os itens */
}

.diftrips figure {
    text-align: center;
}

.diftrips img {
    width: 100%;
    height: auto;
    border-radius: 10px; /* Adiciona bordas arredondadas */
}

.diftrips figcaption {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: var(--primary-color);
}

.trip-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
}

th {
    background-color: #333333;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}


.home-adventures {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Cria colunas responsivas */
    gap: 1rem; /* Espaço entre os itens */
}

.home-adventures figure {
    text-align: center;
}

.home-adventures img {
    width: 80%;
    height: auto;
    border-radius: 10px; /* Adiciona bordas arredondadas */
}

.home-adventures figcaption {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: var(--primary-color);
}

.cta {
    text-align: center;
}




