nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1{
    color: darkblue;
}


main {
    width: 80%;
    margin: 0 auto;
}

aside {
    width: 300px;
    margin: 20px auto;
    border: 2px solid #ccc;
    padding: 15px;
    background-color: #f9f9f9;
    color: #333;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

footer {
    margin-top: 20px;
    border-top: 2px solid #ccc;
    text-align: center;
}
